        body {
            font-family: Arial, sans-serif;
            background-color: #FBE580;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            font-size: 2.5em;
            color: black;
            border: 5px solid #ff4500;
            border-radius: 10px;
            padding: 10px;
            animation: pulse 2s infinite;
        }
        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
        .anime-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            padding: 20px;
            background-color: transparent;
            border-radius: 10px;
            opacity: 100%;
            box-shadow: 0 4px 8px rgba(174, 67, 67, 0.1);
            transition: transform 0.3s ease;
        }
         .anime-section1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            padding: 20px;
            opacity: 100%;
            background-color: transparent;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
        }
         .anime-section2 {
            display: flex;
            flex-direction: column;
            font-style: strong;
            align-items: center;
            margin: 20px 0;
            padding: 20px;
            opacity: 100%;
            background-color: transparent;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
        }
        .anime-section, .anime-section1, .anime-section2 :hover {
            transform: translateY(-10px);
        }
        .anime-image {
            width: 300px;
            height: auto;
            margin-bottom: 10px;
            transition: transform 0.3s ease;
        }
        .anime-image:hover {
            transform: rotate(5deg);
        }
        .anime-name {
            font-size: 2.0em;
            color: #007bff;
            text-align: center;
            margin-bottom: 10px;
            animation: fadeIn 1s ease-in;
        }
        .anime-intro {
            font-size: 1.5em;
            font-weight: bold;
            color: black;
            text-align: justify;
            max-width: 600px;
            line-height: 1.5;
            animation: slideIn 1s ease-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes slideIn {
            from { transform: translateX(-100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
            25% {background-color: rgb(21, 23, 21); left:0px top 0px;}
        }
        .border-red { border: 5px solid #ff0000; border-radius: 10px; }
        .border-blue { border: 5px solid #0000ff; border-radius: 10px; }
        .border-green { border: 5px solid #00ff00; border-radius: 10px; }
        .border-purple { border: 5px solid #800080; border-radius: 10px; }
